

.bannerContainer {
 
  width: 100%;
  max-width: 1320px;

  min-height: 559px;
  margin-top: 120px;
  margin-left: 60px;
}

.container{
  display: flex;
  max-width: 1320px;
min-height: 499px;

opacity: 1;
border-radius: 25px;
background: #C7F0FD;
;
box-shadow: 0 0 25.9px rgba(14, 41, 81, 0.06);

}

.content {


  max-width: 616px;
min-height: 383px;

opacity: 1;

margin-top: 60px;
margin-left: 60px;

}

.textt{
  max-width: 616px;
min-height: 313px;

}

.textfirst{
  max-width: 616px;
min-height: 233px;


}



.subTitle {
  margin-top: 40px;
  max-width: 616px;
  min-height: 24px;
  opacity: 1;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
 

  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;

  text-transform: uppercase;
  color: #ff9140;
}

.mainTitle {
  margin-top: 20px;
  font-family: "Source Serif Pro",serif;
  font-weight: 600;
  

  max-width: 616px;

opacity: 1;


  font-size: 76px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  text-transform: capitalize;

  color: #142349;
}

.highlight {
  color: #4466ff;

  font-family: "Source Serif Pro",serif;
  font-weight: 600;


  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: solid;
}

.tx2{
   font-family: "Source Serif Pro",serif;
  font-weight: 600;
  

  max-width: 616px;

opacity: 1;


  font-size: 76px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  text-transform: capitalize;

  color: #142349;
}

.description {
  width: 553px;
height: 60px;

opacity: 1;

  
  font-family: "DM Sans",sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0;
  vertical-align: middle;

  color: #142349;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;


margin-top: 5px;
  background: #3366FF;

  box-shadow: 0 6px 20px rgba(59, 92, 255, 0.35);

  width: 185px;
height: 40px;
opacity: 1;
gap: 10px;
border-radius: 192px;
  padding-top: 16px;
padding-right: 28px;
padding-bottom: 16px;
padding-left: 28px;


}

.btntextt {
  display: flex;
  align-items: center;
  gap: 10px;

}

.book a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;

  
}

.btniconn {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}


 .imageWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;

}

.doctorImage {
  max-width: 390px;
  min-height: 559px;
  width: auto;

  position: absolute;
  bottom: 0;
  right: 60px;

}  


