/* .sectionWrapper {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
} */

.bannerContainer {
  /* background: #c7f0fd; */
  /* border-radius: 30px; */
  width: 100%;
  max-width: 1320px;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: stretch; */
  /* justify-content: space-between; */
  /* padding: 0 60px; */
  /* position: relative; */
  min-height: 559px;
  margin-top: 120px;
  margin-left: 60px;
}

.container{
  display: flex;
  max-width: 1320px;
min-height: 499px;

opacity: 1;
border-radius: 25px;
background: #C7F0FD;
;
box-shadow: 0 0 25.9px rgba(14, 41, 81, 0.06);

}

.content {
  /* flex: 1.2;

  max-width: 550px;
  height: 559px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 616px; */

  max-width: 616px;
min-height: 383px;
/* angle: 0 deg; */
opacity: 1;
/* top: 4698px; */
/* left: 120px; */
/* gap: 30px; */
margin-top: 60px;
margin-left: 60px;

}

.textt{
  max-width: 616px;
min-height: 313px;
/* angle: 0 deg; */
/* opacity: 1; */
/* gap: 20px; */

}

.textfirst{
  max-width: 616px;
min-height: 233px;
/* angle: 0 deg; */
/* opacity: 1; */
/* gap: 30px; */

}



.subTitle {
  margin-top: 40px;
  max-width: 616px;
  min-height: 24px;
  opacity: 1;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  /* font-style: Bold; */

  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;

  text-transform: uppercase;
  color: #ff9140;
}

.mainTitle {
  margin-top: 20px;
  font-family: "Source Serif Pro",serif;
  font-weight: 600;
  /* font-style: SemiBold; */

  max-width: 616px;
/* min-height: 174px; */
opacity: 1;


  font-size: 76px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  text-transform: capitalize;

  color: #142349;
}

.highlight {
  color: #4466ff;

  font-family: "Source Serif Pro",serif;
  font-weight: 600;
  /* font-style: SemiBold; */

  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-style: solid;
}

.tx2{
   font-family: "Source Serif Pro",serif;
  font-weight: 600;
  /* font-style: SemiBold; */

  max-width: 616px;
/* min-height: 174px; */
opacity: 1;


  font-size: 76px;
  line-height: 1.1;
  letter-spacing: -0.04em;

  text-transform: capitalize;

  color: #142349;
}

.description {
  width: 553px;
height: 60px;
/* angle: 0 deg; */
opacity: 1;

  /* margin-top: 5px; */
  font-family: "DM Sans",sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0;
  vertical-align: middle;

  color: #142349;
}
/* 
.button {
  margin-top: 10px;
  background-color: #3366ff;

  color: white;

  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  width: 185px;
  height: 40px;
  opacity: 1;
  border-radius: 192px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
}

.text {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.15em;
  vertical-align: middle;
  text-transform: uppercase;
}
.icon {
  color: #ffffff;
  width: 13px;
  height: 11px;
} */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* height: 40px;                  */
  /* padding: 0 22px;               */
margin-top: 5px;
  background: #3366FF;
  /* border-radius: 999px; */
  box-shadow: 0 6px 20px rgba(59, 92, 255, 0.35);

  width: 185px;
height: 40px;
opacity: 1;
gap: 10px;
border-radius: 192px;
  padding-top: 16px;
padding-right: 28px;
padding-bottom: 16px;
padding-left: 28px;


}

.btntextt {
  display: flex;
  align-items: center;
  gap: 10px;

}

.book a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;

  
}

.btniconn {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}


 .imageWrapper {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;

}

.doctorImage {
  max-width: 390px;
  min-height: 559px;
  width: auto;

  position: absolute;
  bottom: 0;
  right: 60px;

}  




@media (max-width: 1024px) {
  .bannerContainer {
    padding: 0 40px;
  }
  .doctorImage {
    height: 100% !important;
    right: 0;
  }
}

@media (max-width: 850px) {
  .bannerContainer {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px 0 20px;
    align-items: center;
    overflow: hidden;
  }

  .content {
    padding: 0 0 40px 0;
    max-width: 100%;
    align-items: center;
  }

  .imageWrapper {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .doctorImage {
    position: relative;
    height: 100% !important;
    right: auto;
  }
} 

