@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 16px; */
   font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family:"Source Serif 4", serif;
  /* background: aqua; */
  background: #ffffff;
  
}

body {
  width: 100%;
  /* max-width: 100%; */
  min-height: 100vh;
  overflow-x: hidden;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
    
}

.container {
  max-width: 1440px;
  width: 100%;
  /* max-width: 100%; */
  min-height: 100vh;
 /* font-family: "Plus Jakarta Sans", sans-serif; */
  margin: 0 auto;
  
}

.mainheader{
  width: 100%;

  max-width: 1440px;
min-height: 1041px;

opacity: 1;
background: #EFF6FF;
/* background: aqua; */




}


