.footer {
  background: #eaf9ff;
  padding: 56px 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

.brand {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo h3 {
  margin: 0;
  font-size: 18px;
  color: #2952ce;
}

.logo span {
  font-size: 12px;
  color: #5c85ff;
}

.subscribe {
  display: flex;
  background: #ffffff;
  border-radius: 999px;
  overflow: hidden;
  width: fit-content;
}

.subscribe input {
  border: none;
  padding: 10px 16px;
  outline: none;
  font-size: 14px;
  width: 200px;
}

.subscribe button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  background: #fff;
  padding-top: 4px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.line {
  height: 1px;
  background: #cfe8f3;
  margin: 32px 0;
  color: #c2d1ff;
}

.line1 {
  width: 1px;

  align-self: stretch;
  background: #c2d1ff;
}

.bottom {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.hours {
  min-width: 260px;
}

.hours h4 {
  font-size: 14px;
  margin-bottom: 16px;
  text-transform: lowercase;
}

.timeRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #5c85ff;
  font-size: 14px;
}
.timeRow span {
  color: #5c85ff;
}
.copy {
  margin-top: 24px;
  font-size: 12px;
  color: #64748b;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  flex: 1;
}

.links h4 {
  font-size: 14px;
  margin-bottom: 12px;
}

.links a {
  display: block;
  font-size: 13px;
  color: #475569;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
  }

  .bottom {
    flex-direction: column;
  }

  .links {
    grid-template-columns: 1fr;
  }
}
