.container {
  width: 1200px;
  height: 778px;
  opacity: 1;

  margin-top: 120px;
  margin-left: 120px;
}

.content {
  width: 1182px;
  height: 127px;
  opacity: 1;
}

.text1 {
  display: flex;
}

.txt {
  display: flex;
  flex-direction: column;

  width: 511px;
  height: 127px;

  opacity: 1;
}

.ftext {
  width: 511px;
  height: 24px;
  opacity: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ff9140;
  padding-top: 7.5px;
}

.stext {
  font-family: "Source Serif Pro", serif;
  width: 511px;
  height: 58px;
  opacity: 1;
  font-weight: 600;
  font-size: 46px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #3366ff;
  padding-top: 30px;
}

.btn {
  padding-top: 55px;
  padding-left: 465px;
}

.inner {
  display: flex;
  align-items: center;

  cursor: pointer;

  width: 206px;
  height: 48px;
  opacity: 1;

  border-radius: 192px;

  background: #3366ff;

  padding-top: 22px;
  padding-right: 32px;
  padding-bottom: 22px;
  padding-left: 32px;
}

.inner:hover {
  background: #1e40af;
}

.txR {
  white-space: nowrap;

  width: 110px;
  height: 27px;
  opacity: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}

.iconA {
  width: 16px;
  height: 17px;
  opacity: 1;
  padding-left: 16px;
}

.iconA img {
  filter: brightness(0) invert(1);
}

.cardContainer {
  width: 1200px;
  height: 571px;
  margin-top: 80px;
 

  display: grid;
  grid-template-columns: 592px 599px;
  column-gap: 8px;
}

.cardBig {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  opacity: 0.9;
}

.cardRight {
  display: grid;
  grid-template-rows: 275px 275px;
  row-gap: 10px;
  opacity: 0.9;
}

.cardSmall {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.overlay {
  position: absolute;

  width: calc(100% - 48px);
  max-width: 441.51px;
  height: 157px;

  left: 24px;
  bottom: 24px;

  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: linear-gradient(
    to top,
    rgba(69, 205, 247, 0.1) 80%,
    rgba(69, 205, 247, 0.2) 35%,
    rgba(69, 205, 247, 0.25) 55%,
    rgba(69, 205, 247, 0.08) 70%,
    rgba(69, 205, 247, 0) 100%
  );
}

.cardBig .date {
  position: absolute;
  padding-bottom: 180px;
  margin-left: 20px;
  width: 136px;
  height: 20px;

  opacity: 1;

  font-family: "DM Sans", sans-serif;
  font-weight: 500;

  font-size: 15px;

  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #adc2ff;
}

.cardSmall .date {
  position: absolute;
  padding-bottom: 134px;
  width: 136px;
  height: 20px;
  margin-left: 15px;

  opacity: 1;

  font-family: "DM Sans", sans-serif;
  font-weight: 500;

  font-size: 15px;

  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #adc2ff;
}

.cardBig .overlay p {
  position: absolute;
  margin-bottom: 80px;
  margin-left: 20px;

  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;

  line-height: 28px;
  letter-spacing: 0.02em;

  opacity: 1;

  color: #ffffff;
}

.cardSmall .overlay p {
  position: absolute;
  padding-bottom: 60px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  margin-left: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;

  opacity: 1;

  color: #ffffff;
}

.cardBig .readMore {
  font-weight: 900;
  position: absolute;
  margin-bottom: 40px;
  margin-left: 20px;

  cursor: pointer;

  opacity: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;

  font-size: 15px;

  line-height: 1;
  letter-spacing: 0.15em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #3366ff;
  text-decoration: none;
}

.cardSmall .readMore {
  font-weight: 900;
  position: absolute;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 15px;
  opacity: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;

  font-size: 15px;

  line-height: 1;
  letter-spacing: 0.15em;
  vertical-align: middle;
  text-transform: uppercase;
  color: #3366ff;
  text-decoration: none;
}
