.container {
  max-width: 1320px;
  min-height: 292px;
  width: 100%;
  margin-top: 120px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.03);
}

.item {
  flex: 1;
  text-align: center;
}
.content {
  position: relative;
  display: inline-block;
}
.number {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 113px;
  line-height: 92px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #8fe1fa;
  opacity: 0.9;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  display: block;

  margin-top: 8px;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
  color: #142349;
}

.divider {
  width: 1px;
  height: 124px;
  background: #c2d1ff;
  opacity: 0.3;
}
